In [15]:
print("Python",end="  ")
print("Hello",end='')
print("progeaming")

Python  Helloprogeaming

In [12]:

print("java","python","C","programing",sep='--')

java--python--C--programing

In [13]:
print(45//2)

22

In [27]:
a=37
b=2
a%=b
print(a)

1

In [59]:
print(12<12)

False

In [72]:
a={12,45,56}
b={12  not in a}
print(b)

{False}

In [79]:
a=12
b=12
a=c
print(a is b)
print(id(a))
print(id(b))

False
140737238661256
2495105297040

In [80]:
print(3<<2)

12

In [81]:
list1=[1,2,3,4,5]
print(list1)

list2=['Apple','Mango','Banana','Orange']
print(list2)

print(list1+list2)

if 7 in list1:
    print("2 Is Avaialable In List1")
else:
    print("2 Is Not Avaialable In List1")
    
if 'Apple' not in list2:
    print("apple Is Not Avaialable In List2")
else:
    print("apple Is Avaialable In List2")
    
print("Length Of List1 Is : ",len(list1))
print("Length Of List2 Is : ",len(list2))
print("Length Of List1 And List2 Is : ",len(list1+list2))
print([1,2,3]+[4.1,5.1,6.1])
print(['Hi']*4)

for x in list1:
    print(x,end=" ")

[1, 2, 3, 4, 5]
['Apple', 'Mango', 'Banana', 'Orange']
[1, 2, 3, 4, 5, 'Apple', 'Mango', 'Banana', 'Orange']
2 Is Not Avaialable In List1
apple Is Avaialable In List2
Length Of List1 Is :  5
Length Of List2 Is :  4
Length Of List1 And List2 Is :  9
[1, 2, 3, 4.1, 5.1, 6.1]
['Hi', 'Hi', 'Hi', 'Hi']
1 2 3 4 5

In [82]:

a=[]
for x in range(10):
    a.append(x**2)
        
print(a)
print(max(a))
print(min(a))

b=[10,20,30,40,50]
a.extend(b)
print(a)
a.insert(3, 10)
print(a)
print(a.count(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
81
0
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 10, 20, 30, 40, 50]
[0, 1, 4, 10, 9, 16, 25, 36, 49, 64, 81, 10, 20, 30, 40, 50]
2

In [93]:
for i in range(0,10):
    print('p'* i)

p
pp
ppp
pppp
ppppp
pppppp
ppppppp
pppppppp
ppppppppp

In [99]:
a=(1,2,3,'hello', 'pinjal')
print(a)
print(list(a))

(1, 2, 3, 'hello', 'pinjal')
[1, 2, 3, 'hello', 'pinjal']

In [100]:
listx = [5, 10, 7, 4, 15, 3]
print(listx)
#use the tuple() function built-in Python, passing as parameter the list
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)

In [101]:
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)
#adding items in a specific index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#converting the tuple to list
listx = list(tuplex) 
#use different ways to add items in list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30)