In [58]:
print("hello worthgrthrtr95068904645609$%&^%*%rld")

hello worthgrthrtr95068904645609$%&^%*%rld

In [ ]:
commnets in python are of two types
single line comment #
multiline comment  """   """    '''   '''

In [36]:
print("He\tloo\njffk\b\b \ng' ' 'ei n jv\"h\tbkvb")
# n="rthrrth'rthrth'trhht"rhrhrt"

He	loo
jffk
g' ' 'ei n jv"h	bkvb

In [40]:
print('rg'e" g"erg')

SyntaxError: invalid syntax (2680744492.py, line 1)

In [ ]:
\n --newline character
\t  --tabsapce
\b ---delete one character
\" ---double quote
\'  --single quote

In [59]:
print("jufiuj\bh ehrvbh")

jufiujh ehrvbh

In [ ]:
print("ergr egge\t3rg34g\n erg\b\bf")

ergr egge	3rg34g
 ergf

varaiblename = value

# loosely type language

# typeless langugae

# datatype

int --- 8 4 5 9 75 - 555 -866 -8945 
float ---78.25 98 36-98 0.25 -89 -89.36
string ---"egerger"  'ergfergerg'  """erergergr"""  '''ergergeg'''
boolean ---True False

list =[]
tuple =()
set={}
dictionary={key:value}

# Type Function

In [1]:
a=58
b="wergtt"
print(a)
#--type(variablename)
print(type(a))

58
<class 'int'>

# id function

In [9]:
a=67
print(id(a))

2448692826544

# user input the values--

variable=input("Message")

In [63]:
a=int(input("Enter Something"))
print(a)
print(type(a))

Enter Somethingfchf

ValueError: invalid literal for int() with base 10: 'fchf'

In [29]:
# typecast
# implicit and explicit
# datatype(variable)
a=90
 =str(a)
print(type(a))
# if we will not maintain indentation in python then it will give indentation error

IndentationError: unexpected indent (3592841043.py, line 5)

In [ ]:
(89.26+48)

137.26

In [ ]:
print(z)
# if we try to use variable which is not declared then it will give NameError

NameError: name 'z' is not defined

# identifier rule

%fgr $fg 8erg _wrgfer

1)first letter a-z A-Z _
2)remaing letter a-z A-Z _ 0-9 

# suggestions
space will not use
keywords will not be used
length will not be exceeded more than 255 characters
logical name should be used

camelcase

# formatted string

In [ ]:
age=48
name="Ravi Kochar"
Adress="vesu Surat"
print(f"Your Age is {age} your name is {name} and your address is {Adress} {name}   {age}")
# print("Your Age is {} your name is {} and your address is {}".format(age,name,Adress))
# Your Age is 48 your name is Ravi Kochar and your address is vesu surat

In [ ]:
# Operators
# operands --operators work on operands
# + operator
# expression
89+36

# Types of operators

In [ ]:
arithmetic + - * / % ** //
relational > < >= <= == !=
logical AND(and) OR(or) NOt(not)
assignement = += -= *= /= %= **= //= 
bitwise >> << & | ^
identity is is not
membership in not in
# ternary operator ?:

# conditional statements
if simple if
if else
# if ..elif...elif..elif.....else  ladder if else
nested if else

switch case in not in python why?????

# Arithmatic opeator:-

In [41]:
print(85+30)
a=96
b=48
print(a+b)
print(f"Addition of a and b is {a+b}")
print(85-39)
print(48/32)
print(100/3)
print(44*32.26)
# ** power operator
print(2**3)
print(26%3) #modulo or modulus operator
print(99%24)
print(89//2)

115
144
Addition of a and b is 144
46
1.5
33.333333333333336
1419.4399999999998
8
2
3
44

# how to get ceiling value

In [40]:
x= 91.5//2
math.ceil(x)
x1=300.18
math.floor(x1)
print(x)
print(x1)

print(f"floor values is {math.floor(300.18)}")
print(f"ceil values is {math.ceil(300.18)}")

print(f"floor values is {math.floor(91/2)}")
print(f"ceil values is {math.ceil(91/2)}")

45.0
300.18
floor values is 300
ceil values is 301
floor values is 45
ceil values is 46

# how to control precision in float values in python

In [37]:
print(round(100/3,3))
print("{0:.3f}".format(100/3))
a=100/3
print('%.2f'%a)

33.333
33.333
33.33

# relational operator

In [36]:
# 2=2
print(48<26)
print(float(84>65))
print(84<=86)
print(84==26)
print(89!=89)

print(29<32)
print(44>57)
print(48>24)
print(29<32 and 44>57 and 48>24)
print(29<32 or 44>57 and 48>24)

False
1.0
True
False
False
True
False
True
False
True

In [35]:
print(89+36/48%24-48**3)
# ()	Parentheses
# **	Exponent
# +x, -x, ~x	Unary plus, Unary minus, Bitwise NOT
# *, /, //, %	Multiplication, Division, Floor division, Modulus
# +, -	Addition, Subtraction
# <<, >>	Bitwise shift operators
# &	Bitwise AND
# ^	Bitwise XOR
# |	Bitwise OR
# ==, !=, >, >=, <, <=, is, is not, in, not in	Comparisons, Identity, Membership operators
# not	Logical NOT
# and	Logical AND
# or	Logical OR

-110502.25

In [33]:
print(36/48)
print(0.75%24)

0.75
0.75

# assignement operators

In [32]:
a=48
# a=a*2
# a+=2 
print(a)

48

In [31]:
a=89
b=24
a/=4
a=a/4
a=48+45
a=b+35
print(a)

59

In [30]:
print(89&42)
print(89|42)
print(93&81)
print(56|45)
print(58>>2)
print(86<<2)
print(80^56)
print(~(82))

8
123
81
61
14
344
104
-83

In [ ]:
# Conditional Statements
# if simple if
# if ...else  
# if..elif..elif..elif..........else ladder if else
# nested if else

In [ ]:
# simple if


if condition:
    line of codes

In [3]:
# simple if
age=int(input("Enter Age: "))
if age>18:
    print("adult")

Enter Age: 12

In [ ]:
if else:
    
    
if condition:
    task performed
    ger
    ger
    ger
    g
    r
else:
    gertgert
    ger
    ger
    gge
    r

In [5]:
age=int(input("Enter Age: "))
if age>18:
    print("adult")
else:
    print("Not an Adult")

Enter Age: 12
Not an Adult

In [ ]:
if condition:
    body
elif condition2:
    body
elif condition3:
    boyd
    ;
    ;
    ;
[else:
     body]

In [8]:
percentage=float(input("Enter percentage: "))
if percentage<100 and percentage>80:
    print("Grade A")
elif percentage<=80 and percentage>70:
    print("Grade B")
elif percentage<=70 and percentage>55:
    print("Grade C")
elif percentage<=55 and percentage>33:
    print("Grade D")
else:
    print("Fail")

Enter percentage: 120
Fail

In [10]:
num=int(input("Enter nyumber: "))
if num==10:
    print("hello")
elif num==10:
    print("gfwr")
elif num==10:
    print("45")
wgfwg
wefw
fwe

Enter nyumber: 10
hello

In [12]:
# nested if..else
# greater of three number
n1=int(input("Enter number1: "))
n2=int(input("Enter number2: "))
n3=int(input("Enter number3: "))
if n1>n2:
    if n1>n3:
        print(f"{n1} is greater")
    else:
        print(f"{n3} is greater")
else:
    if n2>n3:
        print(f"{n2} is greater")
    else:
        print(f"{n3} is greater")

Enter number1: 48
Enter number2: 85
Enter number3: 23
85 is greater

# for loop  sequence /collections /iterable 
    range()
    string
    list
    tuple
    set
    dictionary

# while loop

    user defined condition

In [ ]:
for iterating_variable in sequence:
    body

In [14]:
for i in "Hello Wolrd\nfgber":
    print(i)

H
e
l
l
o

W
o
l
r
d


f
g
b
e
r

# range()

In [15]:
# range([start],stop,[step])
# range(10)
# range(5,15)
# range(1,28,2)
# print(range(5))

range(0, 5)

In [16]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
num=int(input("Enter number:"))
for i in range(1,11):
    print(f"{num} X {i} = {num*i}")

Enter number:58
58 X 1 = 58
58 X 2 = 116
58 X 3 = 174
58 X 4 = 232
58 X 5 = 290
58 X 6 = 348
58 X 7 = 406
58 X 8 = 464
58 X 9 = 522
58 X 10 = 580

In [ ]:
-8 -7 -6 -5 -3 -2 -1 0 1 2 3 4 5 6 7 8 9
if we not give start value by default stars from 0
if we not give stop value by default it give error beacuse it is compulsory
if we not give step value by default it is 1
range(1,5,1)
range(-8,0)
range(-1,-7,-1)
when step value is positive direction is from left to right
when step value is negative direction is from right to left

In [19]:
for i in range(30,20,-1):
    print(i)

30
29
28
27
26
25
24
23
22
21

In [20]:
for i in range(2,31,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

# while loop

In [23]:
n=1
while n<10:
    print(n)
#     n=n+1
    n+=1

1
2
3
4
5
6
7
8
9

# string

In [ ]:
#string
# string is represented in ' '  " "  """  """  '''  '''
# string is immutable(changes not allowed)
# string is oredered datatype
# string has many functions and methods to work with

In [27]:
a="hello"
print(a)
b='wolrd'
print(b)
c="""ergergerrgege
hrthrthrt
hrthrthhrt
h
rthrth"""
print(c)

hello
wolrd
ergergerrgege
hrthrthrt
hrthrthhrt
h
rthrth

In [32]:
a="Great Warrior"
print(a[1])
# a[2]="p"
print(a)

r
Great Warrior

# string slicing

In [41]:
a="wow what a wonderful day it has"
print(a[4])
print(a[5])
print(a[6])
print(a[7])
print(a[4:8])
# positive indexing --  0 start of string
# negative indexing -- -1  end of string
print(a[-8:-11:-1])
print(a[-10:-7])
print(a[::-1])

w
h
a
t
what
yad
day
sah ti yad lufrednow a tahw wow

# string methods and function

In [1]:
dir("fef")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Capitaliza()

In [2]:
# Capitaliza method capitalize the first letter of the string and
# lowercase the remaining letters
str1="hello JKHFEujn jkvernjn JKZVbnjkrfn JKVgrjn"
print(str1.capitalize())

Hello jkhfeujn jkvernjn jkzvbnjkrfn jkvgrjn

# title()

In [3]:
# title()---it will capitaize the first letter of every word and lowercase 
# the remaining lteer in words
str1="hello JKHFEujn jkvernjn JKZVbnjkrfn JKVgrjn"
print(str1.title())

Hello Jkhfeujn Jkvernjn Jkzvbnjkrfn Jkvgrjn

# casefold()

In [57]:
# casefold---coverst whole string in lowercase
str1="hello JKHFEujn jkverJERGTJKGHEnjn  ß"
print(str1.casefold())

hello jkhfeujn jkverjergtjkghenjn  ss

# Lower()

In [58]:
# lower---coverst whole string in lowercase
str1="hello JKHFEujn jkverJERGTJKGH ß"
print(str1.lower())

hello jkhfeujn jkverjergtjkgh ß

# center()

In [10]:
# center(width,[fillchar])
str1="hello"
print(str1.center(50))
print(str1.center(50,"-"))

                      hello
----------------------hello-----------------------

In [28]:
for i in range(1,10):
    str1=i*"* "
    print(str1.center(20))

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

# count()

In [35]:
# count("substring",[start],[stop])
str1="Hello kite is kflying in the ksky"
print(str1.count("Great"))
print(str1.count("k"))
print(str1.count("k",10))
print(str1.count("k",10,20))

0
4
3
1

# endwith()

In [41]:
# endswith("substring",[start],[stop])
str1="Hello kite is kflying in the ksky"
print(str1.endswith("sky"))
print(str1.endswith("sky",5))
print(str1.endswith("sky",5,20))

True
True
False

# find()

In [47]:
# find("substring",[start],[stop])
str1="Hello sky kite is kflying kite in the ksky"
print(str1.find("sky"))
print(str1.find("sky",16))
print(str1.find("sky",16,30))
print(str1.find("Yellow"))
# if find method doesnt get substring then it gives -1

6
39
-1
-1

# index()

In [50]:
# index("substring",[start],[stop])
str1="Hello sky kite is kflying kite in the ksky"
print(str1.index("sky"))
print(str1.index("sky",16))
print(str1.index("sky",16,45))
print(str1.index("Yellow"))

6
39
39

ValueError: substring not found

# ljust()

In [3]:
# it justify conetnt in left with given width
str1="Hello"
print(str1.ljust(50))
print(str1.ljust(50,","))

Hello
Hello,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

# rjust()

In [61]:
# it justify conetnt in right with given width
str1="Hello"
print(str1.rjust(50))
print(str1.rjust(50,"-"))

                                             Hello
---------------------------------------------Hello

# center()

In [6]:
str1="fdughjk rjhbrtkn jkrtbhgrtkj gjkbhrtjb jgfn brtjkbfdn jkr  "
print(str1.center(210,","))

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,fdughjk rjhbrtkn jkrtbhgrtkj gjkbhrtjb jgfn brtjkbfdn jkr  ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

# parrtition()

In [1]:
# parrtition(separator)
# partition returns tuple of string having three 3 strings exact
str1="Hello sky kite is kflying kite in the ksky"
print(str1.partition("kite"))
print(str1.partition("Mango"))

('Hello sky ', 'kite', ' is kflying kite in the ksky')
('Hello sky kite is kflying kite in the ksky', '', '')

# split

In [72]:
# split return list of strings with splitted items of n numbers
str1="Hello sky kite is kflying kite in the ksky"
print(str1.split(" "))
print(str1.split("kite"))
print(str1.split("Mango"))

['Hello', 'sky', 'kite', 'is', 'kflying', 'kite', 'in', 'the', 'ksky']
['Hello sky ', ' is kflying ', ' in the ksky']
['Hello sky kite is kflying kite in the ksky']

In [74]:
a=80
b=65
# a=80,b=65
a,b=80,65

In [16]:
num=int(input("Enter Number"))
for i in range(1,num+1): #1 2 3 4 5 10-6 10-7 10-8 10-9 10-10
    if i<=(num/2):
        str1="* "*i
        print(str1.center(num))
    else:
        str1="* "*(num-i)
        print(str1.center(num))

Enter Number12
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [4]:

a=25
b=68
str1="efhbje{} hbvrjhv{}{}".format(a,b,8)
# print(f"Your string is {str1}") #formatted string
print(str1)

efhbje25 hbvrjhv6896

In [69]:
m={'x':98,'y':45,'z':23}
str1="dkvcfhe{x} erfjhvberfvbe{y} jehfvb{z}".format_map(m)
print(str1)

dkvcfhe98 erfjhvberfvbe45 jehfvb23

# isalnum()

In [7]:
str1="rfklgergnrhrt4564648ertge"
print(str1.isalnum())

False

# isalpha()

In [11]:
str1="kushfkehvbe"
print(str1.isalpha())

False

# isidentifier()

In [19]:
str1="rjfjf yh5"
print(str1.isidentifier())

False

# isdecimal()

# isdigit()

# isnumeric()

In [2]:
str1="897+89"
print(str1.isdecimal())
print(str1.isdigit())
print(str1.isnumeric())

False
False
False

# isascii()

In [30]:
str1="rthrth₹hrhr"
print(str1.isascii())

False

# islower()

In [33]:
str1="rfwgGERGR$%^&4fwrgfw ever"
print(str1.islower())

False

# isprintable()

In [41]:
str1="gerg $yrthyt   #^#^tjerlit"
print(str1.isprintable())
print(str1)

True
gerg $yrthyt   #^#^tjerlit

# isspace()

In [8]:
str1="         "
print(str1.isspace())

True

# istitle()

In [10]:
str1="Erg Eetgert Qgfdgrtbrt"
print(str1.istitle())

True

# join()

In [13]:
#string.join(iterable)
str1="ekrgj"
#print(str1.join("*"))
print("*".join(str1))

#[1,2,3,4,5]

e*k*r*g*j

In [55]:
list1=["ergter","rtergt","eryterty"]
str2="hello"
print("--".join(str2))
print("--".join(list1))

h--e--l--l--o
ergter--rtergt--eryterty

# lstrip()

In [58]:
str1="     ergerg      "
print(str1.lstrip())
print(str1.rstrip())
print(str1.strip())

ergerg
     ergerg
ergerg

# splitlines()

In [61]:
str1="ergerg   hgberthrte grbrthrt\nwrtfwertr \nwetwt"
str2="""ertyrrtyrtyrtyrtyrty
rty  grthrthtr thrth
rtyrt vthrthg rhrtjy
yrt rthrtb rhytkiiylyjhrt
"""
print(str1.splitlines())
print(str2.splitlines())

['ergerg   hgberthrte grbrthrt', 'wrtfwertr ', 'wetwt']
['ertyrrtyrtyrtyrtyrty', 'rty  grthrthtr thrth', 'rtyrt vthrthg rhrtjy', 'yrt rthrtb rhytkiiylyjhrt']

# swapcase()

In [14]:
str1="egvWer"
print(str1.swapcase())
#print(str1.)

EGVwER

# Zfill()

In [15]:
str1="589.5986"
print(str1.zfill(12))

0000589.5986

# translate()

In [70]:
str1="ABC Apple Banana"
x={65:89,66:102}  
print(str1.translate(x))

YfC Ypple fanana

In [ ]:
hello world
ehllo owrld

In [43]:
num=int(input("Enter Number"))
for i in range(1,num+1): #1 2 3 4 5 10-6 10-7 10-8 10-9 10-10
    if i<=(num/2):
        str1="* "*i
        print(str1.center(num))
    else:
        str1="* "*(num-i)
        print(str1.center(num))

Enter Number10
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

# list[]

In [ ]:
# List 
# List is a collection of elements of similar as well as different datatype
# list is mutable(Changes allowed)
# list id ordered every item in list is at proper index
# list is defined in square brackets []
# syntax:
# listname = [value1,value2,value3.....valuen ]

In [3]:
list1=[15,69.23,"Hello Wolrd",True,[48,56,98],(24,54),{14,69},{25:"hello",89:True}]
# print(list1)

print(list1[4])
print(list1[2:7])
list1[2]="Demo Version"
print(list1)

[48, 56, 98]
['Hello Wolrd', True, [48, 56, 98], (24, 54), {69, 14}]
[15, 69.23, 'Demo Version', True, [48, 56, 98], (24, 54), {69, 14}, {25: 'hello', 89: True}]

In [ ]:
# itearbles

range()
string
list
tuple
set
dictionary

In [47]:
list1=[1,2,3,4,5,6,7,8,9]
list1[2:7]=range(1,100,30)
print(list1)

[1, 2, 1, 31, 61, 91, 8, 9]

In [11]:
list1=[1,2,3,4,5,6,7,8,9]
list1[2:7]=range(1058,1074,3)
print(list1)

[1, 2, 1058, 1061, 1064, 1067, 1070, 1073, 8, 9]

In [13]:
# negative indexing
list1=[1,2,3,4,5,6,7,8,9]
print(list1[-3:-8:-1])

[7, 6, 5, 4, 3]

# list functions

In [ ]:
# list functions
len()
min()
max()
list()

# len()

In [15]:
# len()---counting starts from 1 not 0
list1=[1,4,5,8,[8,9,5,4],14,56,978]
print(len(list1))
list1[4][2]=85
print(list1)

8
[1, 4, 5, 8, [8, 9, 85, 4], 14, 56, 978]

# min()
# max()

In [17]:
# min()---gives minimun elemnt
# max()--gives maximum element
list1=[47,89,65,47,52,14,58,63,21,23]
print(min(list1))
print(max(list1))

14
89

In [18]:
list1=["jwrfh","eiuweqiu efhver","TEyv vbe","row hIUOHWEH"]
print(min(list1))
print(max(list1))

TEyv vbe
row hIUOHWEH

In [19]:
list1=["thgt",89,"rg",48]
print(min(list1))

TypeError: '<' not supported between instances of 'int' and 'str'

In [24]:
# list()
list1=list("Hello")
print(list1)
list1=list(range(101,118,5))
print(list1)
list1=list((58,))
print(list1)

['H', 'e', 'l', 'l', 'o']
[101, 106, 111, 116]
[58]

# list methods

In [ ]:
# list methods
# adding elemnts
append()
extend()
insert()

# removing elements
pop()
remove()

# finding elements
index()
count()

# changing list
copy()
sort()
reverse()
clear()

# append()

In [27]:
# append(element)---add element at the last of the list as a single element
list1=[45,87,96,54,8]
list1.append(26)
print(list1)
list1.append("Hello")
print(list1)
list1.append([45,89,65])
print(list1)

[45, 87, 96, 54, 8, 26]
[45, 87, 96, 54, 8, 26, 'Hello']
[45, 87, 96, 54, 8, 26, 'Hello', [45, 89, 65]]

# extend()

In [32]:
# extend(iterable)---add element at the last of the list but as an individual 
# elements
list1=[48,58,96,54,12,36,45]
list1.extend("jergf jkhv")
print(list1)
list1.extend(range(48,96,8))
print(list1)
list1.extend([45,89,65])
print(list1)

[48, 58, 96, 54, 12, 36, 45, 'j', 'e', 'r', 'g', 'f', ' ', 'j', 'k', 'h', 'v']
[48, 58, 96, 54, 12, 36, 45, 'j', 'e', 'r', 'g', 'f', ' ', 'j', 'k', 'h', 'v', 48, 56, 64, 72, 80, 88]
[48, 58, 96, 54, 12, 36, 45, 'j', 'e', 'r', 'g', 'f', ' ', 'j', 'k', 'h', 'v', 48, 56, 64, 72, 80, 88, 45, 89, 65]

# insert()

In [33]:
# insert(index,element)--add elemnts at the desired index
list1=[45,89,65,23,65,78]
list1.insert(4,"Hello")
print(list1)

[45, 89, 65, 23, 'Hello', 65, 78]

# pop()

In [38]:
# pop([index])--by default when index is not given then it removes last element
# when index is given it removes element at that index
# it gives index error when index is not in list
list1=[7,89,56,85,47,94]
list1.pop()
print(list1)
list1.pop(3)
print(list1)
list1.pop(48)
print(list1)

[7, 89, 56, 85, 47]
[7, 89, 56, 47]

IndexError: pop index out of range

# remove()

In [40]:
# remove(element)--remove first occurence of element but when element 
# is not in list then it gives value error
list1=[48,78,96,54,48,78,12,36,56]
list1.remove(78)
print(list1)
list1.remove(943)
print(list1)

[48, 96, 54, 48, 78, 12, 36, 56]

ValueError: list.remove(x): x not in list

# index()

In [52]:
# index(element[,start,stop])--gives index of first occurence of element
list1=[48,56,96,58,47,65,89,96,54,56,47]
print(list1.index(96,4,6))
print(list1.index(1056))

ValueError: 96 is not in list

# count()

In [49]:
# count(element)--it counts the total occurence of element in the list 
# if element is not in list then it gives 0
list1=[48,56,96,58,47,65,89,96,54,56,47]
print(list1.count(96))
print(list1.count(1052))

2
0

# sort()

In [51]:
# sortelement[,start,stop])---it will sort the list in ascending order by default
# but if we give reverse=True Then It will sort in descending order
list1=[45,89,65,87,45,8]
# list1.sort()
list1.sort(reverse=True)
print(list1)

[89, 87, 65, 45, 45, 8]

# reverse()

In [52]:
# reverse()---it will reverse the list
list1=[45,89,65,87,45,8]
list1.reverse()
print(list1)

[8, 45, 87, 65, 89, 45]

# copy()

In [54]:
# copy()--copy one list to another
list1=[1,2,3,5,6,89]
list2=list1
print(list1)
print(list2)
list1[3]=48
print(list1)
print(list2)

[1, 2, 3, 5, 6, 89]
[1, 2, 3, 5, 6, 89]
[1, 2, 3, 48, 6, 89]
[1, 2, 3, 48, 6, 89]

In [55]:
list1=[1,2,3,5,6,89]
list2=list1.copy()
print(list1)
print(list2)
list1[3]=48
print(list1)
print(list2)

[1, 2, 3, 5, 6, 89]
[1, 2, 3, 5, 6, 89]
[1, 2, 3, 48, 6, 89]
[1, 2, 3, 5, 6, 89]

# clear()

In [57]:
# clear()--it will clear whole list
list1=[45,69,87,45,896]
print(list1)
list1.clear()
print(list1)

[45, 69, 87, 45, 896]
[]

In [ ]:
# 0 1 1 2 3 5 8 13 21 34  ---fibonacci series

In [10]:
# gmail validation
email=input("Enter Your Email: ")
email=email.lower()
ind=email.index('@')
print(ind)
if(email.endswith(".com")):
    if '@' in email:
        if (email[:ind].isalnum() or ('.' in email[:ind])):
            print("Valid email")
        else:
            print("Invalid email check your characters")
    else:
        print("@ not in email invalid email")
else:
    print("Not end with .com invalid email")

Enter Your Email: sugandgupta.tops@gmail.com
16
Valid email

# tuple()

In [ ]:
# Tuple
# tuple is in ()
# tuple also allowed duplicates
# tuple is immutable
# tuple is ordered collection bcz it has index positioning

In [4]:
tup1=(1,12.34,True,"Hello",[1,2,3],{2,3},{2:34,3:45})
print(tup1)

(1, 12.34, True, 'Hello', [1, 2, 3], {2, 3}, {2: 34, 3: 45})

In [22]:
tup1=(45,89.36,True,"Hello",[14,25,36],(25,36),{29,58},{1:"hello",2:"World"})
print(tup1)
tup1[0]="wow"
tup1[4][0]="great"
print(tup1)

(45, 89.36, True, 'Hello', [14, 25, 36], (25, 36), {58, 29}, {1: 'hello', 2: 'World'})

TypeError: 'tuple' object does not support item assignment

# tuple functions

In [ ]:
# tuple functions
# min
# max
# len
# tuple

In [18]:
tup1=(45,89,65,48,45,89)
print(min(tup1))
print(max(tup1))
tup2=(45,89,65,"hello",45,89)
print(min(tup2))

45
89

TypeError: '<' not supported between instances of 'str' and 'int'

In [20]:
# count
tup1=(45,69,87,45,63,21,54,58,98,65,41,23,25)
print(tup1.count(45))
print(tup1.count(896))

2
0

In [21]:
# index
tup1=(45,69,87,45,63,21,54,58,98,65,41,23,25)
print(tup1.index(45))
print(tup1.index(896))

0

ValueError: tuple.index(x): x not in tuple

In [31]:
list1=[58]
print(type(list1))
tuple1=(58,)
print(type(tuple1))
set1=set()
print(type(set1))

<class 'list'>
<class 'tuple'>
<class 'set'>

# SET

In [ ]:
# SET
# set is murtable
# set is defined in {}
# set is unordered datatype
# set doesn't have indexes
# set not allows duplicates

In [32]:
set1={1,5,8,9,6,5,84}
print(set1)

{1, 84, 5, 6, 8, 9}

# set functions

In [39]:
# set functions
set1={1,5,8,9,6,5,84}
print(len(set1))
print(min(set1))
print(max(set1))

list1=range(1,25,5)
print(set(list1))

6
1
84
{1, 6, 11, 16, 21}

# set methods

In [18]:
# set methods
set1={45,89,65,87,89,65,78,96}
# dir(set1)
set1.add(414) #add elemenst at random position
print(set1)
set1.discard(875) #remove element from set but if not prsent then nothing 
# is remove neither it gives error
print(set1)
set1.remove(87)#remove element from set
set1.remove(896) #if element is not in set then it gives key error
print(set1)

{96, 65, 414, 87, 89, 45, 78}
{96, 65, 414, 87, 89, 45, 78}

KeyError: 896

In [19]:
list1=[1,2,3,4,5,6]
print(id(list1))

1856010273280

In [34]:
set1={48,56,98,96,56,98}
print(id(set1))

1856017265824

# pop

In [54]:
# pop()---it remove a random element from the set.
set1={1,23,45,67,65,43,233,78}
set1.pop()
print(set1)
set1.pop()
print(set1)

{1, 67, 233, 43, 45, 78, 23}
{67, 233, 43, 45, 78, 23}

# union()

In [55]:
# union()--it combines all elemnet of set.
set1={1,34,67,87,66}
set2={1,2,3,4,5,6,7,8}
set3=set1.union(set2)
print(set3)

{1, 34, 67, 66, 2, 3, 4, 5, 6, 7, 8, 87}

# intersection()

In [57]:
# intersection()--gives comon of two set
set1={1,2,3,4,5}
set2={3,4,5,6,7,8,9}
set3=set1.intersection(set2)
print(set3)

{3, 4, 5}

# intersection_update()

In [20]:
#intersection_update()
set1={1,2,3,4,5}
set2={3,4,5,6,7,8,9}
print(set1,set2)
set1.intersection_update(set2)
print(set1,set2)

{1, 2, 3, 4, 5} {3, 4, 5, 6, 7, 8, 9}
{3, 4, 5} {3, 4, 5, 6, 7, 8, 9}

# difference()

In [68]:
#difference()---gives remaning element after intersection.
set1={1,2,3,4,5}
set2={3,4,5,6,7,8,9}
set3=set2.difference(set1)
print(set3)

{8, 9, 6, 7}

# difference_update()

In [73]:
set1={1,2,3,4,5}
set2={3,4,5,6,7,8,9}
set2.difference_update(set1)
print(set2)

{6, 7, 8, 9}

# isdisjoin()

In [21]:
# isdisjoin()---gives true when not a single  common element in a set..
# return flase when a common element ...
set1={1,2,3,4,5}
set2={13,24,35,6,7,8,9}
x=set1.isdisjoint(set2)
print(x)

True

# issubset()

In [83]:
#issubset()
set1={1,2,3}
set2={1,2}
x=set2.issubset(set1)
print(x)

True

# issuperset()

In [84]:
#issuperset()
set1={1,2,3}
set2={1,2}
x=set2.issuperset(set1)
print(x)

False

# symmetric_difference()

#union-intersection---formula

In [89]:
# symmetric_difference()
set1={1,2,3,4,5,6,7,8}
set2={1,2,45,23,6,7,54,32,23,89}
set3=set1.symmetric_difference(set2)
print(set3)

{32, 3, 4, 5, 8, 45, 54, 23, 89}

In [88]:
# symmetric_difference_update()
set1={1,2,3,4,5,6,7,8}
set2={1,2,45,23,6,7,54,32,23,89}
set1.symmetric_difference_update(set2)
print(set1)

{32, 3, 4, 5, 8, 45, 54, 23, 89}

# Dictonary

In [94]:
# Dictonary()
#dictonary is a collation of element of similar or diffrent data type having key,values pair.
#dictonary is ordered data type but not with index but with key.
# dictonary is also diffend in {}
#dict={1:"hello",2:"good"}
#list as a key not allowd.
#set as a key not allowd.
#dic as a key not allowd.
# any mutable is not allowd as a key . key can be only and only inmutable.
# value can be anything.

In [101]:
dict={1:34,23.45:56.65,True:False,"string":"hello",1:[3,4],(23,34):(34,34),1:{1,2},23:{1:38}}
print(dict)
print(dict[True])

{1: {1, 2}, 23.45: 56.65, 'string': 'hello', (23, 34): (34, 34), 23: {1: 38}}
{1, 2}

In [105]:
dict1={1:34,2:range(1,9)}
print(dict1)

{1: 34, 2: range(1, 9)}

In [108]:
dict1={1:34,2:range(1,9)}
print(dict1[2])
for i in dict1[2]:
    print(i)

range(1, 9)
1
2
3
4
5
6
7
8

In [2]:
#find a repitaed iteam for tuple.
set1=set()
tup1=(1,2,3,4,5,6,1,2,3,6,5,4,8,58,96,54,78,98,74,58)
for i in tup1:
    if tup1.count(i)>1:
        set1.add(i)       
print(set1)

{1, 2, 3, 4, 5, 6, 58}

# Dictionary MEthods

# values()

In [1]:
# Values() ---give list of values from the dictionary
dict1={1:2,56:48,89:125,36:45}
print(dict1.values())

dict_values([2, 48, 125, 45])

# keys()

In [2]:
# Keys()--give list of keys from the dictionary
dict1={1:2,56:48,89:125,36:45}
print(dict1.keys())

dict_keys([1, 56, 89, 36])

# Items()

In [3]:
# Items()---gives list of tuples and one tuple have only two values one is key
# another is value
dict1={1:2,56:48,89:125,36:45}
print(dict1.items())

dict_items([(1, 2), (56, 48), (89, 125), (36, 45)])

# pop()

# popitem()

In [5]:
# pop(key)---remove the element of specified key
# popitem()---remove last pair which has been inserted

dict1={1:2,56:48,89:125,36:45}
dict1.pop(89)
print(dict1)
dict1.popitem()
print(dict1)

{1: 2, 56: 48, 36: 45}
{1: 2, 56: 48}

# get()

In [23]:
# get(key[,value])--it gives the vlaue of the key but if the key is not in 
# dictionary then it returns none when thers is no second argument of value
# and if key is not found and second values is given then that value will be 
# given

dict1={1:2,56:48,89:125,36:45}
print(dict1.get(12))
print(dict1.get(145,"value not found"))
print(dict1)

None
value not found
{1: 2, 56: 48, 89: 125, 36: 45}

# setdefault()

In [25]:
# setdefault(key,value)--it gives the vlaue of the key but if the key is not in 
# dictionary then it returns none when thers is no second argument of value 
# and also add that key and value in the dictionary 
# and if key is not found and second values is given then that value will be 
# given
dict1={1:2,56:48,89:125,36:45,"q":"hello"}
print(dict1.setdefault("hello"))
print(dict1)

None
{1: 2, 56: 48, 89: 125, 36: 45, 'q': 'hello', 'hello': None}

# update()

In [17]:
# update(dictionary)--it update the dictiionary
dict1={1:2,56:48,89:125,36:45}
dict1.update({698:"hello",45:"wow"})
print(dict1)

{1: 2, 56: 48, 89: 125, 36: 45, 698: 'hello', 45: 'wow'}

# fromkeys()

In [6]:
# fromkeys(iterable,value)
list1=[1,2,3,4,5,6]
val=[1,2]
dict1=dict.fromkeys(list1,val)
print(dict1)

{1: [1, 2], 2: [1, 2], 3: [1, 2], 4: [1, 2], 5: [1, 2], 6: [1, 2]}

# function in python

In [ ]:
def functionanme([parameters]):
    body of the function
    [return value]

In [9]:
def greeting():
    a=58
    for i in range(1,11):
        print("good Morning")

In [11]:
greeting()

good Morning
good Morning
good Morning
good Morning
good Morning
good Morning
good Morning
good Morning
good Morning
good Morning

In [50]:
print(a)

NameError: name 'a' is not defined

In [62]:
def addition(x,y):
    answer=x+y
    print(answer)

In [64]:
addition(45,15)
addition(48,25)

60
73

# types of arguments

In [ ]:
# types of arguments
positional argument
keyword argument
default argument
arbitrary agrument
arbirary keyword argument

# positional argument

In [15]:
def fun1(x,y,z):
    print(x,y,z)

In [16]:
fun1(14,"Hello")

TypeError: fun1() missing 1 required positional argument: 'z'

# Keyword Argument

In [1]:
# Keyword Argument
def fun1(x,y,z):
    print(x,y,z)
    
# fun1(z=85,y=23,x=48)
fun1(45,z=85,y=89)
fun1(58,x=89,z=48)

45 89 85

TypeError: fun1() got multiple values for argument 'x'

# default argument

In [1]:
# default argument
def fun1(x,y,z=47):
    print(f"x={x} y={y} z={z}")

fun1(48,25)

x=48 y=25 z=47

In [2]:
# default argument
def fun1(x,y,z):
    print(f"x={x} y={y} z={z}")

fun1(48,25)

TypeError: fun1() missing 1 required positional argument: 'z'

# aribtrary positional argument

# * tuple

In [2]:
#aribtrary positional argument

# * tuple

def fun1(x,y,z,*m):
    print(f"x={x} y={y} z={z} m={m} {m[1]}")

fun1(48,25,102,45,89,65,21,4,89,90)

x=48 y=25 z=102 m=(45, 89, 65, 21, 4, 89, 90) 89

# **dictionary

In [27]:
#aribtrary keyword argument

# ** dictionary

def fun1(x,y,z,**m):
    print(f"x={x} y={y} z={z} m={m}")

fun1(x=85,z=102,y=25,m=48,j="hello",k=26)

x=85 y=25 z=102 m={'m': 48, 'j': 'hello', 'k': 26}

In [18]:
def palindrome(num):
    temp=num
    rev=0
    while num!=0:
        rem=num%10
        rev=rev*10+rem
        num=num//10
        
    if temp==rev:
        print("Palindrome")
    else:
        print("Not Plaindrome")

In [19]:
palindrome(1431)

Not Plaindrome

In [ ]:
# import modulename
# from modulename import things

In [28]:
# random module
# import pillow
# pip install modulename
# pip install pillow

SyntaxError: invalid syntax (259061897.py, line 4)

In [63]:
import random
#dir(random)
#random.randrange(1,25,5)
#random.randint(45,459)
#random.choice("ebvfjehrvber jhbe vjhre")
#random.choice([1,2,3,4,5,6])
random.choice({1,2,4,5,8,7,9,8,6,15,4,52,15})
#random.random() # 0 to 1 between random number given

TypeError: 'set' object is not subscriptable

In [ ]:
#---itreable=set count...
#---sequence=set not count...

In [8]:
import math
# math.ceil(5.36)
# math.floor(5.36)
# math.factorial(5)
x=math.prod({1,2,3,45,2})
print(x)
y=math.prod([1,2,3,45,2])
print(y)

270
540

# file handling

# file open

# file working

# file close

# file open
filepointername=open("FIlename","mode")
fp=open("demo.txt","w")

mode----
read---r---if file eixist then it will be open for reading purpose but if not exist then 
it gives error

write---w---if file exist then it will be open for writing purpose and all its
old content will be deleted and if file not exists then it will create a new one but it will not
give error

append----a---if file exist then it will be open for append purpose and all its
old content will not be deleted and if file not exists then it will create a new one but it will not
give error

In [ ]:
# file closing
filepointername.close()

In [1]:
fp=open("demo.txt","r")
fp.close()

FileNotFoundError: [Errno 2] No such file or directory: 'demo.txt'

In [3]:
# data writing inside file
fp=open("demo.txt","w")
fp.write("Hello all How are you")
fp.close()

In [2]:
# data appending inside file
fp=open("demo.txt","a")
for i in range(1,10):  
    fp.write(f"This is something new {i}\n")
fp.close()

In [33]:
# opening file for reading purpose
fp=open("demo.txt","r")
# print(fp.read())
# print(fp.read(55))
print(fp.readline())
print(fp.readline())
fp.close()

This is something new 1

This is something new 2

In [34]:
num=int(input("ENter number of students: "))
for i in range(1,num+1):
    fname=input("ENter Name: ")
    age=int(input("Enter Age: "))
    mobile=int(input("ENter mobile: "))
    file=open("Students.txt","a")
    file.write("*******************************************************************\n")
    file.write(f"\t\t{fname}\t\t|\t{age}\t\t|\t{mobile}\n")
    file.close()

ENter number of students: 3
ENter Name: Sugandh
Enter Age: 45
ENter mobile: 46546
ENter Name: Rahul
Enter Age: 89
ENter mobile: 63546
ENter Name: Robin
Enter Age: 487
ENter mobile: 1235

# exception handling

In [36]:
a=int(input("ENter Number: "))

ENter Number: rg34rg3

ValueError: invalid literal for int() with base 10: 'rg34rg3'

In [ ]:
# try
# except
# finally
# else

In [32]:
try:
    a=int(input("ENter Number: "))
    print(a)
except:
    print("Invalid value only numbers allowed")

ENter Number: pinjal
Invalid value only numbers allowed

In [44]:
a=45
b="hello"
print(a+b)
# print(c)
# print(10/0)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
try:
    a=45
    b="hello"
    #print(a+b)
    print(c)
    print(10/0)
except TypeError as t:
    print(t)
except NameError:
    print("VAriable trying to use is not defined")
except ZeroDivisionError:
    print("Zero division error denominator cannot be zero")
except:
    print("Unknown error occured")

VAriable trying to use is not defined

In [38]:
fp=open("Demo45.txt","w")
for i in range(1,11):
    fp.write(f"Hello, How are you {i} \n")
fp.close()

# list comperhension

In [1]:
# listname=[appendingelemnet for i in iterable if condition]
list2=[i for i in range(1,51) if i%2==0]
print(list2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [10]:
# lambda function
# variablename=lambda parameters : body of the lambda function

a=lambda : print("Hello World")

a()
print(type(a))

Hello World
<class 'function'>

In [16]:
square=lambda y,z,m:print(y**2,z**3,m**4)
square(25,41,23)

625 68921 279841

In [17]:
# zip()
a=[1,2,3,4,5,54,89,65,87]
b=[6,7,8,9,10]
x=zip(a,b)
# print(x)
# print(range(1,10))
for i in x:
    print(i)

(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)

In [18]:
# OOPS

# class
# objects

# encapsulation
# constructor
# inheritance
# polymorphism

89+36

"hello"+"world"

'helloworld'

In [ ]:
for i in range(1,4):
    print(i)
    student_name = input("enter your name:")
    age=int(input("enter the age:"))
    ss=int(input("enter the marks of ss :"))
    sci=int(input("enter the marks os science:"))
    math=int(input("enter the marks of math:"))

n=int(input("student roll number"))
    if n==i:
        print(ss+sci+math)

In [ ]:
a=10
a="hello"
print(a)

In [ ]:
class classname:
    variables---data members
    functions---member function or methods

In [19]:
l1=[1,2,3,4,5]
print(type(l1))

<class 'list'>

In [39]:
class student:
    
    def __init__(self):
        self.name=""
        self.age=""
        print(id(self))
        
    def getdata(self):
        self.name=input("ENter NAme: ")
        self.age=int(input("ENter Age"))
        
# objetcname=classname()

s1=student()
print(id(s1))
s2=student()
print(id(s2))
s1.getdata()
print(s1.marks1+s1.marks2)

1926709337968
1926709337968
1926709336240
1926709336240