In [15]:
print("Python",end="  ")
print("Hello",end='')
print("progeaming")

Python  Helloprogeaming

In [12]:

print("java","python","C","programing",sep='--')

java--python--C--programing

In [13]:
print(45//2)

22

In [27]:
a=37
b=2
a%=b
print(a)

1

In [59]:
print(12<12)

False

In [72]:
a={12,45,56}
b={12  not in a}
print(b)

{False}

In [79]:
a=12
b=12
a=c
print(a is b)
print(id(a))
print(id(b))

False
140737238661256
2495105297040

In [80]:
print(3<<2)

12

In [81]:
list1=[1,2,3,4,5]
print(list1)

list2=['Apple','Mango','Banana','Orange']
print(list2)

print(list1+list2)

if 7 in list1:
    print("2 Is Avaialable In List1")
else:
    print("2 Is Not Avaialable In List1")
    
if 'Apple' not in list2:
    print("apple Is Not Avaialable In List2")
else:
    print("apple Is Avaialable In List2")
    
print("Length Of List1 Is : ",len(list1))
print("Length Of List2 Is : ",len(list2))
print("Length Of List1 And List2 Is : ",len(list1+list2))
print([1,2,3]+[4.1,5.1,6.1])
print(['Hi']*4)

for x in list1:
    print(x,end=" ")

[1, 2, 3, 4, 5]
['Apple', 'Mango', 'Banana', 'Orange']
[1, 2, 3, 4, 5, 'Apple', 'Mango', 'Banana', 'Orange']
2 Is Not Avaialable In List1
apple Is Avaialable In List2
Length Of List1 Is :  5
Length Of List2 Is :  4
Length Of List1 And List2 Is :  9
[1, 2, 3, 4.1, 5.1, 6.1]
['Hi', 'Hi', 'Hi', 'Hi']
1 2 3 4 5

In [82]:

a=[]
for x in range(10):
    a.append(x**2)
        
print(a)
print(max(a))
print(min(a))

b=[10,20,30,40,50]
a.extend(b)
print(a)
a.insert(3, 10)
print(a)
print(a.count(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
81
0
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 10, 20, 30, 40, 50]
[0, 1, 4, 10, 9, 16, 25, 36, 49, 64, 81, 10, 20, 30, 40, 50]
2

In [93]:
for i in range(0,10):
    print('p'* i)

p
pp
ppp
pppp
ppppp
pppppp
ppppppp
pppppppp
ppppppppp

In [99]:
a=(1,2,3,'hello', 'pinjal')
print(a)
print(list(a))

(1, 2, 3, 'hello', 'pinjal')
[1, 2, 3, 'hello', 'pinjal']

In [100]:
listx = [5, 10, 7, 4, 15, 3]
print(listx)
#use the tuple() function built-in Python, passing as parameter the list
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)

In [101]:
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)
#adding items in a specific index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#converting the tuple to list
listx = list(tuplex) 
#use different ways to add items in list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30)

In [102]:
# convert tuple string
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

In [104]:
a={1:23,2:'Hello'}
b=[1,2,3,4,5,6]
tuple(b)

(1, 2, 3, 4, 5, 6)

In [105]:
x = ()
print(x)
#Create an empty tuple with tuple() function built-in Python
tuplex = tuple()
print(tuplex)

()
()

In [106]:
#create a tuple
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print(tuplex)
#return the number of times it appears in the tuple.
count = tuplex.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

In [109]:
#create a tuple
tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
#used tuple[start:stop] the start index is inclusive and the stop index
slice = tuplex[3:5]
#is exclusive
print(slice)
#if the start index isn't defined, is taken from the beg inning of the tuple
slice = tuplex[:6]
print(slice)
#if the end index isn't defined, is taken until the end of the tuple
slice = tuplex[5:]
print(slice)
#if neither is defined, returns the full tuple
slice = tuplex[:]
print(slice)
#The indexes can be defined with negative values
slice = tuplex[-8:-4]
print(slice)
#create another tuple
tuplex = tuple("HELLO WORLD")
print(tuplex)
#step specify an increment between the elements to cut of the tuple
#tuple[start:stop:step]
slice = tuplex[2:9:2]
print(slice)
#returns a tuple with a jump every 3 items
slice = tuplex[::4]
print(slice)
#when step is negative the jump is made back
 slice = tuplex[9:2:-4]
print(slice)

IndentationError: unexpected indent (1693707259.py, line 30)

In [112]:
cityCode={'Ahmedabad':79,'Mumbai':22,'Pune':20,'Delhi':11}

print(cityCode)

for key in cityCode:
     print(key," |",cityCode[key])

{'Ahmedabad': 79, 'Mumbai': 22, 'Pune': 20, 'Delhi': 11}
Ahmedabad  | 79
Mumbai  | 22
Pune  | 20
Delhi  | 11

In [113]:

cityCode={'Ahmedabad':79,'Mumbai':22,'Pune':20,'Delhi':11}
cityFamousPlace={"Ahmedabad":"IIM","Delhi":"Metro","Mumbai":"Bollywood"}


cityFamousPlaceCopy = cityFamousPlace.copy()
print("CityFamousCopy",cityFamousPlaceCopy)


print("Before Update",cityCode)
cityCode.update(cityFamousPlace)
print("After Update",cityCode)

CityFamousCopy {'Ahmedabad': 'IIM', 'Delhi': 'Metro', 'Mumbai': 'Bollywood'}
Before Update {'Ahmedabad': 79, 'Mumbai': 22, 'Pune': 20, 'Delhi': 11}
After Update {'Ahmedabad': 'IIM', 'Mumbai': 'Bollywood', 'Pune': 20, 'Delhi': 'Metro'}

In [115]:
for name in "python":
    print(name)

for name in "programing":
    print(name,end="")

p
y
t
h
o
n
programing

In [116]:

lang=['C','C++','JAVA']

for item in lang:
   print(item)

C
C++
JAVA

In [117]:

lang=["python","Java"]
feature=["Advance","Popular"]

for a in lang:
   for b in feature:
       print(a,b)

python Advance
python Popular
Java Advance
Java Popular

In [118]:

for a in range(1,6):
    for b in range(1,6):
        print(" * ",end=" ")
    print()

 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *

In [123]:

for i in range(1, 6):
   for j in range(i):
        print( i,end=' ')
   print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [125]:

for i in range(1,11):
    print(i,end=" ")

print()

# range function with specified number
# start from default 0 

for i in range(6):
    print(i,end=" ")

print()

# range function with specified increment number

for i in range(1,11,2):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5
1 3 5 7 9

In [126]:
i = 1
while i < 11:
   print(i,end=" ")
   i += 1

1 2 3 4 5 6 7 8 9 10

In [131]:
def myfun():
   print("hello")

def sum():
    print(10+2)
    
def pinjal(name):
    print(name)

myfun()
sum()
pinjal("bhut")

hello
12
bhut

In [132]:
def student(id,name):
   print("student id is : ",id)
   print("student name is : ",name)

id=int(input("Enter id : "))   
name=input("Enter your name : ")

student(id,name)

Enter id : 1
Enter your name : pinju
student id is :  1
student name is :  pinju

In [134]:
def  student(id,name="-1"):
   print("student id is : ",id)
   print("student name is : ",name)

id=int(input("Enter id : "))   
name=input("Enter your name : ")

student(id)

Enter id : 4
Enter your name : khg
student id is :  4
student name is :  -1

In [137]:
def tuplelist(a,*tup):

   for a in tup:
       print(a)


tuplelist(1,5,85,66)

5
85
66

In [138]:
# dict as parameter
def student(**dict):

   for key,value in dict.items():
       print(key,value)

student(name="Anjali",marks=99)

name Anjali
marks 99

In [139]:

x = lambda a : a + 20
print(x(5))

mul = lambda a,b: a*b
print(mul(5,10))

25
50

In [140]:
#gloable variable
def myfun():
       print(name)

name="Python"

myfun()

Python

In [141]:
#local variable
def myfun():
       name="Python Language"
       print(name)

name="Python"

myfun()

Python Language

In [142]:

"""
def myfun():
       print(name)
       name="Python Language"
       print(name)
name="Python"
myfun()
print(name)
"""

# with global keyword
def myfun():
       global name
       print("1st ",name)
       name="Python Language"
       print("2nd ",name)

name="Python"

myfun()

print("3rd ",name)

1st  Python
2nd  Python Language
3rd  Python Language

In [146]:
def sum(a,b):
    print(a+b)

product_price=150.50


import Mymodule
Mymodule.sum(12,5)


print(mymodule.product_price)

ModuleNotFoundError: No module named 'Mymodule'

In [147]:
import math
print(math.ceil(12.34))

print(math.pi)
print(math.e)
print(math.sin(0.52))
print(math.cos(0.52))
print(math.tan(0.52))
print(math.log(0.52))

13
3.141592653589793
2.718281828459045
0.49688013784373675
0.8678191796776499
0.5725618302516684
-0.6539264674066639

In [148]:
from mypackage import first,second

first.myfirst()
second.mysecond()

ModuleNotFoundError: No module named 'mypackage'

In [167]:
file = open("test.txt","w")
file.write("Hello\n")
file.write("Welcome to file management program")
file.close()
file = open("test.txt","r")
str=file.readline()
print(str)
a=file.tell()
print(a)
str=file.read()
print(str)

Hello

7
Welcome to file management program

In [153]:
import os
os.chdir(r'E:/')
if not os.path.exists("MYFOLDER"):
   os.makedirs("MYFOLDER")
else:
   print("Already exists")

In [154]:
import os
os.chdir(r'E:/')
if os.path.exists("MYFOLDER"):
  os.rmdir("MYFOLDER")

In [169]:
a= int(input("Enter the value of A :"))
b= int(input("Enter the value of B :"))

try:
    c=a/b 
    print("Division : ",c)
except Exception:
    print("Execption Caught")
    
    
print("Bye")

Enter the value of A :12
Enter the value of B :0
Execption Caught
Bye

In [171]:
from builtins import int
while True:
    try:
        n=input("Enter the value : ")
        n=int(n)
        break
    except Exception:
        print("Invalid Input")
    finally:
        print("Finally Called")
print("Bye")

Enter the value : gdrh
Invalid Input
Finally Called
Enter the value : cgf
Invalid Input
Finally Called
Enter the value : 34
Finally Called
Bye

In [174]:
try:
   print(a)
except NameError:
   print("variable a is not defined")
except:
   print("something else ")
else:
   print("Hello user")
finally:
   print("Finally block")

12
Hello user
Finally block

In [176]:

class MyClass:
    
    x = 0
    def __init__(self,x):
        self.x=x 
    
    def my_method(self):
        print("X:",self.x)
    
    
    def OddEven(self):
        if self.x%2==0:
            print(self.x,"Is even number")
        else:
            print(self.x,"Is Odd number")
            
x=int(input("enter the value of X :"))

a=MyClass(x)
a.my_method()
a.OddEven()

enter the value of X :13
X: 13
13 Is Odd number

In [179]:

class Person:
    
    fname =""
    lname =""
    email =""
    
    
    def __init__(self,fname,lname,email):
        
        print("Constructor Called")
        self.fname = fname
        self.lname = lname
        self.email = email
    
    def showDetails(self):
        print("Fname :",self.fname)
        print("Lname :",self.lname)
        print("Email :",self.email)

fname = print(input("Enter the Fname :"))
lname = print(input("Enter the Lname :"))
email = print(input("Enter the Email : "))        
p = Person(fname,lname,email)

p.showDetails()

Enter the Fname :qw
qw
Enter the Lname :df
df
Enter the Email : 4
4
Constructor Called
Fname : None
Lname : None
Email : None

In [181]:
class Person():
    fname=""
    lname=""
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def showName(self):
        print("First Name : ",self.fname," And Last Name : ",self.lname)

class Employee(Person):
    
    sno=0
    def __init__(self,fname,lname,sno):
        Person.__init__(self, fname, lname)
        self.sno=sno
        
    def showEmployee(self):
        self.showName()
        print("Staff Number : ",self.sno)

b=Person("Sunit","Jha")
a=Employee("Sunit","Jha",8)
#b.showName()
a.showEmployee()

First Name :  Sunit  And Last Name :  Jha
Staff Number :  8