# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [7]:
cars1 = pd.read_csv("cars1.csv")
cars2 = pd.read_csv("cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [9]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [11]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [12]:
cars = cars1.append(cars2)
cars

C:\Users\PINJAL\AppData\Local\Temp\ipykernel_9556\421006426.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars = cars1.append(cars2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [13]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([45150, 42402, 46273, 37872, 44278, 60977, 54969, 24759, 72456,
       37836, 36205, 67646, 70804, 17404, 41475, 42483, 34526, 29410,
       72454, 23940, 63459, 28485, 42731, 68911, 27374, 15243, 49877,
       54472, 24717, 57974, 21353, 68678, 55444, 60740, 16994, 15741,
       25939, 63771, 67035, 16248, 69562, 35477, 23401, 72922, 19104,
       19509, 35984, 50383, 61314, 46710, 72396, 18072, 49852, 53101,
       39545, 28634, 49364, 25859, 27234, 68488, 42659, 52375, 40492,
       66654, 20541, 39764, 35538, 32974, 42659, 65808, 26018, 18936,
       53652, 39347, 62517, 41695, 34460, 63529, 71877, 37873, 16354,
       21290, 50067, 36826, 27320, 71575, 58675, 43660, 38536, 42778,
       66627, 41666, 37356, 31702, 72969, 16506, 28877, 35644, 21197,
       16190, 15780, 67558, 30182, 23403, 29377, 46997, 26540, 71377,
       56923, 32946, 22823, 23158, 28439, 53316, 32851, 68051, 46544,
       29743, 38019, 30103, 35869, 29116, 60638, 17605, 38333, 57464,
       15945, 31537, 50471, 30166, 63141, 44621, 31776, 60768, 67972,
       18491, 69771, 43639, 21642, 19842, 17145, 37013, 28812, 17612,
       59996, 48868, 64597, 67810, 68568, 31133, 72045, 24500, 59306,
       49519, 30113, 49651, 46478, 43055, 51236, 68395, 30171, 25519,
       20332, 49371, 17091, 32337, 22388, 35972, 56416, 37060, 43406,
       16112, 37301, 32977, 35796, 66833, 48013, 66985, 66123, 45836,
       58297, 35217, 28326, 18206, 53144, 54895, 26901, 49279, 49585,
       34627, 60544, 41127, 54341, 35475, 47371, 40308, 48794, 40817,
       69722, 18119, 39116, 34522, 56198, 55778, 27395, 20111, 22010,
       70049, 47842, 53141, 30415, 66338, 18751, 16740, 45490, 47287,
       36731, 55358, 62269, 62697, 64063, 33994, 53804, 60509, 58150,
       34908, 46989, 60535, 60628, 43884, 45059, 27931, 65682, 18358,
       15342, 27501, 45367, 51472, 52832, 53010, 25418, 57248, 62351,
       25654, 32156, 25232, 17550, 39335, 28394, 72771, 50078, 70511,
       17398, 16972, 66542, 26566, 60913, 65219, 41725, 59944, 27546,
       26297, 41510, 62448, 39739, 69401, 29184, 57382, 18204, 28815,
       24198, 23168, 58318, 16931, 69353, 64327, 36229, 45666, 32531,
       55196, 36635, 19044, 45544, 37756, 38173, 26773, 21718, 29447,
       48180, 37181, 47946, 49524, 26910, 49957, 57563, 42228, 46227,
       22402, 58160, 69803, 30445, 59024, 60397, 23405, 21969, 25453,
       38180, 58540, 29714, 29467, 30093, 52096, 16017, 29189, 52312,
       65190, 65384, 45346, 72936, 50036, 62010, 41852, 26413, 49363,
       58819, 36311, 62923, 68357, 23007, 38256, 57524, 36771, 55185,
       20982, 26956, 33121, 27366, 32374, 69658, 48763, 70646, 48516,
       41862, 50599, 20851, 38698, 70244, 71908, 30892, 59047, 56664,
       19919, 28841, 30912, 26636, 61837, 39809, 41271, 28528, 22126,
       37336, 20008, 36207, 28881, 39351, 52743, 24376, 53529, 31583,
       30750, 39865, 69999, 32843, 33282, 41551, 31324, 25769, 19460,
       36975, 51950, 61685, 31335, 51916, 67831, 64507, 29343, 33079,
       27217, 29985, 68939, 69512, 48415, 25468, 71426, 67766, 37694,
       40572, 39406])

### Step 8. Add the column owners to cars

In [14]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,71426
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,67766
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,37694
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,40572
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,39406